.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    background-color: bisque
  }
  
.th {
    border: 1px solid #d89140;
    text-align: left;
    padding: 8px;
    background-color: bisque;
    width: 15%;
  }